@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

*,
body {
    margin: 0;
    font-family: "Manrope", sans-serif;
}

.container {
    background-color: $light-grayish-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    @media (max-width: 760px) {
        padding: 74px 24px;
    }
}
